<%= render "shared/front-header" %>


<div class ='right-contents'></div>

<div class ='left-contents'></div>

<div class ='main-contents'>

    <div class='front-iamge'></div>

    <%= link_to '新規登録', new_user_registration_path, class: "sign-up" %>
</div>

<%= render "shared/front-footer" %>