<%= render "shared/front-header" %>

<div class ='main-contents'>

    <div class='front-show'>
            <div class='back-signup'><%= link_to 'Sign up!', new_user_registration_path, class: "sign-up" %><br><br><%= link_to 'Log in!', user_session_path, class: "sign-up" %>
            </div>
           
        <div class='match-front'>
             <div class='match-title'>eMatch Pro</div>
        </div>
    </div>
    
 
</div>

<%= render "shared/front-footer" %>