<%# CSS・・・assets/stylesheets/shared/header.css %>
<header>
  <div class='nav'>
    <div class='nav-upper'>
      <ul class='lists-upper'>
        <li><a class="top-logo" href="#">●</a></li>
        <li><a class="top-first" href="#">1</a></li> 
        <li><a class="top-second" href="#">2</a></li>
        <li><a class="top-third" href="#">3</a></li> 
        <li><a class="top-fourth" href="#">4</a></li>
        <li><a class="top-fifth" href="#">5</a></li> 
        <li><a class="top-sixth" href="#">6</a></li>
        <li><a class="top-seventh" href="#">7</a></li>
        <li><a class="top-search" href="#">🔍</a></li>
        <li><a class="top-second-logo" href="#">⬜️</a></li> 
      </ul>
    </div>
    <div class='nav-lower-lock' >
      <div class='nav-lower'>
        <div class='lower-contents'>
          <div class='header-title'>Match Pro</div>
            <ul class='lists-lower'>

              <li><%= link_to 'Top page', root_path, class: "header-link" %></li>

              <li><%= link_to 'Log in', user_session_path, class: "header-link" %></li> 

              <li class="blue-point"><%= link_to '新規',  new_user_registration_path, class: "point-font" %></li>

            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>