<%= render "shared/contents-header" %>

<div class='right-contents'></div>
<div class='left-contents'></div>

<div class='main-contents'>

  <div class="chat-contents">

    <div class="left-side-bar">
      <div class="left-side"><span class="left-text">eMatchPro</span></div>
    </div>

    <div class="message-view">
      <%= render "main_chat" %>
    </div>

    <div class="right-side-bar">
      <div class="right-side"><span class="right-text">eMatchPro</span></div>
    </div>

  </div>

</div>

<%= render "shared/contents-footer" %>