<%= render "shared/contents-header" %>

<div class='main-contents'>

  <div class="chat-contents">
    <div class="side-bar">
      <%= render "side_bar" %>
    </div>

    <div class="message-view">
      <%= render "main_chat" %>
    </div>
  </div>

</div>

<%= render "shared/contents-footer" %>