.contents {
  text-align: center;
  padding-top: 130px;
  height: 600px;
  overflow: auto;
  scroll-snap-type: mandatory;
}

.contents-indication {
  scroll-snap-align: start;
  height: 55vh;
}

.form-group {
  padding: 20px;
}

.form-text-wrap {
  padding: 10px; 
}

.input-default {
  width: 200px;
}

.login-btn {
  margin: 10px;
}