.notice-page {
  width: 70%;
  text-align: center;
  margin: 30px calc((100% - 70%)/2) ;
}

.notice-contents {
  margin-top: -70px;
}

.notice-list {
  display: flex;
  justify-content: center;
}

.notice-block {
 display: flex;
 padding: 10px 50px 10px 50px;
 border-bottom: 1px gray dotted;
}

.notice-right {
 margin-left: 30px;
 width: 30vw;
}


.new-message {
  overflow: auto;
  scroll-snap-type: mandatory;
  scroll-snap-align: start;
  height: 4vw;
  margin-top: -17px;
}

.visiter-img {
  height: 8vw;
  width: 8vw;
}

.notice-message {
  display: inline-block;
  max-width: 23vw;
  word-wrap: break-word;
}

.notice-image {
  max-height: 8vw;
  max-width: 8vw;
}

@media screen and (max-width: 812px) { 
  
}