.notice-page {
  width: 70%;
  text-align: center;
  margin-left: calc((100% - 70%)/2);
  margin-top: 20px;
}

.notice-list {
  display: flex;
  justify-content: center;
}

.notice-block {
 display: flex;
 padding: 10px 50px 10px 50px;
 border-bottom: 1px gray solid;
}

.notice-right {
 margin-left: 30px;
 width: 30vw;
}

.new-message {
  overflow: auto;
  scroll-snap-type: mandatory;
  scroll-snap-align: start;
  height: 6vw;
}

.visiter-img {
  height: 10vw;
  width: 10vw;
}

.notice-image {
  max-height: 8vw;
  max-width: 8vw;
}