.search-title {
  text-align: center;
}

.search-title {
  border-bottom: 1px gray solid;
}

.search-lists {
  padding: 20px;
}

.search-contents {
  width: 250px;
  padding: 10px;
  margin: 20px;
  background-color: lightgray;
  border: 1px gray solid;
}

.search-btn {
  text-align: right;
}

.main {
  display: flex;
}

.user-contents {
  text-align: center;
  width: 70%;
}

.list-img {
  height: 35vh;
  width: 35vh;
}

.user-list {
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  scroll-snap-type: mandatory;
  height: 100vh;
  justify-content: center;
}

.list-content {
  box-shadow: 0 25px 35px rgba(0,0,0,.2);
  transition: .8s;
  transform: scaleX(1) rotateZ(0deg);
}

.list-content:hover {
  filter: saturate(130%) brightness(110%) contrast(110%);
  transform: scaleX(1) rotateZ(8deg);
}

.list {
  padding: 30px 20px;
  display: flex;
  scroll-snap-align: start;
  height: 55vh;
}

.user-info {
  margin: 5px;;
}

.list-upper {
  display: flex;
  justify-content: space-evenly;
}

.list-title {
  font-weight: bold;
  border-bottom: 1px lightgray solid;
  padding: 0 5px;
}

.list-lower {
  padding-top: 2px;
}

.lower-title {
  display: inline-block;
  padding: 0 5px;
  border-bottom: 1px lightgray solid;
  font-weight: bold;
}

.list a {
  color: rgba(0, 0, 0, 0.952);
}

.no-users {
  padding: 50px;
}

.input-name {
  margin: 5px;
}

.input-birth-wrap {
  display: flex;
  justify-content: center;
  height: 30px;
}

.input-age {
  font-size: larger;
  text-align: center;
}

.form-text {
  font-weight: bold;
}

.form-info-header {
  font-weight: bold;
}

.input-register-btn {
  padding-bottom: 100px;
}

