.search-title {
  text-align: center;
}

.search-title {
  border-bottom: 1px gray solid;
}

.search-lists {
  padding: 20px;
}

.search-contents {
  width: 250px;
  padding: 10px;
  margin: 20px;
  background-color: lightgray;
  border: 1px gray solid;
}

.search-btn {
  text-align: right;
}

.main {
  display: flex;
}

.user-contents {
  text-align: center;
  width: 70%;
}

.user-lists {
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  scroll-snap-type: mandatory;
  height: 100vh;
  justify-content: center;
}

.list {
  padding: 30px 20px;
  display: flex;
  scroll-snap-align: start;
  height: 55vh;
}

.user-info {
  text-align: center;
}

.detail-lists {
  display: flex;
  justify-content: center;
}

.detail-title {
  padding: 0 30px;
}

.list a {
  color: rgba(0, 0, 0, 0.952);
}

.no-users {
  padding: 50px;
}

.input-name {
  margin: 5px;
}

.input-birth-wrap {
  display: flex;
  justify-content: center;
  height: 30px;
}

.input-age {
  font-size: larger;
  text-align: center;
}

.form-text {
  font-weight: bold;
}

.form-info-header {
  font-weight: bold;
}

.input-register-btn {
  padding-bottom: 100px;
}